#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
*.api           text                linguist-vendored
*.pro           text                linguist-language=Proguard
*.properties    text                linguist-language=Java-Properties
gradle/verification-metadata.xml    text linguist-vendored
